<!-- Link in Hompage CSS -->
<link href="/assets/style/reading.css" rel="stylesheet" type="text/css">

<!-- Page Body - Splash Page -->
<div class="row">
  <br><br>
  <center>
    <br>
    <h1 id="authors"><a href="/search/authors/a" class="hide_hyperlink">AUTHORS</a></h1>
    <br>
    <h1 id="letters"><a href="/search/letters" class="hide_hyperlink">LETTERS</a></h1>
    <br>
    <h1 id="map"><a href="/search/map" class="hide_hyperlink">MAP</a></h1>
  </center>
  <br>
</div>
