<!DOCTYPE html>

<html>

  <head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Tab Icon -->
    <link rel="icon" href="/assets/images/Kean-Icon.png">
    
    <!-- Tab Title -->
    <title>Nancy Thompson WWII Scrapbook</title>

    <!-- Link in Bootstrap -->
    <link rel="stylesheet" href="/cdn/bootstrap-3.3.7/css/bootstrap.min.css">
    
    <!-- Link in Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet">
  
    <!-- Link in Custom Styling -->
    <link href="/assets/style/main.css" rel="stylesheet" type="text/css">

    <!-- Link in jQuery CDN -->
    <script src="/cdn/jquery/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap JavaScript (USED FOR THE SEARCH BAR) -->
    <script src="/cdn/bootstrap-3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    
    <!-- Page Header & Navigation Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">

        {{!-- Kean Logo and Mobile Icon --}}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="brand-container">
              <center>
                <img id="kean-logo" alt="Kean University" src="/assets/images/Kean-Logo.png">
                <span id="webpage-logo">The Nancy Thompson WWII Scrapbook Collection</span>
              </center>
            </div>
          </a>
        </div>


        {{!-- Navigation Bar Content --}}
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            {{!-- Reading Selection --}}
            <li class="dropdown">
              <a href="#" id="nav-reading" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">READING</a>
              <ul class="dropdown-menu navbar-drop-menu">
                <li><a href="/search/authors/a">AUTHORS</a></li>
                <li><a href="/search/letters">LETTERS</a></li>
                <li><a href="#">MAPPING</a></li>
              </ul>
            </li>

            {{!-- Experiencing Selection --}}
            <li class="dropdown">
              <a href="#" id="nav-experiencing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EXPERIENCING</a>
              <ul class="dropdown-menu navbar-drop-menu">
                <li><a href="#">LETTER WRITING</a></li>
                <li><a href="#">WARTIME EXPERIENCE</a></li>
                <li><a href="#">HOMEFRONT</a></li>
                <li><a href="#">OVERSEAS EXPERIENCE</a></li>
                <li><a href="#">DISCOVERING AMERICA</a></li>
                <li><a href="#">RACE</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">TEACHERS AND TRAINING</a></li>
                <li><a href="#">POSTWAR EDUCATION</a></li>
                <li><a href="#">THE FALLEN</a></li>
                <li><a href="#">MEMORY</a></li>
              </ul>
            </li>

            {{!-- Scrapbooking Selection --}}
            <li class="dropdown">
              <a href="#" id="nav-scrapbooking" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SCRAPBOOKING</a>
              <ul class="dropdown-menu navbar-drop-menu">
                <li><a href="#">NANCY THOMPSON</a></li>
                <li><a href="#">NEWARK STATE TEACHER&#39;S COLLEGE</a></li>
                <li><a href="#">SCRAPBOOK</a></li>
                <li><a href="#">SERVICEMAN&#39;S NEWS</a></li>
                <li><a href="#">PROJECT HISTORY</a></li>
              </ul>
            </li>

            {{!-- Teaching Selection --}}
            <li><a id="nav-teaching" href="#">TEACHING</a></li>

            {{!-- Doing History Selection --}}
            <li class="dropdown">
              <a id="nav-doing" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DOING HISTORY</a>
              <ul class="dropdown-menu navbar-drop-menu">
                <li><a href="#">STUDENT WORK</a></li>
                <li><a href="#">SOCIAL MEDIA</a></li>
                <li><a href="#">MEDIA</a></li>
              </ul>
            </li>

          </ul>
        </div>


      </div>
    </nav>

  <!-- Whole Page Content Container -->
  <div class="container">
    {{{body}}}
  </div>

  </body>

</html>