<!DOCTYPE html>

<html>

  <head>

    {{!-- <meta content="text/html; charset=utf-8" http-equiv="Content-Type"> --}}
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    
    <!-- Tab Icon -->
    <link rel="icon" href="/assets/images/Kean-Thumbnail.png">
    
    <!-- Tab Title -->
    <title>Home | Nancy Thompson WWII Scrapbook</title>

    <!-- Link in Bootstrap -->
    <link rel="stylesheet" href="/assets/cdn/bootstrap-3.3.7/css/bootstrap.min.css">
    
    <!-- Link in Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet">
  
    <!-- Link in Custom Styling -->
    <link href="/assets/style/navbar_style.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    
    <!-- Page Header & Navigation Bar -->
    <nav id="logo_bar" class="navbar navbar-default navbar-static-top" role="navigation">

      <!-- Kean Logo and Page Title (With Link to Homepage) -->
      <div id="main_link_logo" class="navbar-header">
        <a href="/">
          <img alt="Kean University" src="/assets/images/Kean-Logo.png">
          <h1 id="main_link_header">The Nancy Thompson WWII Scrapbook Collection</h1>
        </a>
      </div>


      <!-- Content Navigation -->
      <div id="nav_wrapper">
        <div id="nav_bar">

          <!-- Main Content List -->
          <ul>
            <!-- Reading Tab -->
            <li><a href="#">READING</a>
              <!-- Reading Tab Content List -->
              <ul>
                <li><a href="/authors">AUTHORS</a></li>
                <li><a href="#">LETTERS</a></li>
                <li><a href="#">MAPPING</a></li>
              </ul>
            </li>

            <!-- Experiencing Tab -->
            <li><a href="#">EXPERIENCING</a>
              <!-- Experiencing Tab Content List -->
              <ul>
                <li><a href="#">LETTER WRITING</a></li>
                <li><a href="#">WARTIME EXPERIENCE</a></li>
                <li><a href="#">HOMEFRONT</a></li>
                <li><a href="#">OVERSEAS EXPERIENCE</a></li>
                <li><a href="#">DISCOVERING AMERICA</a></li>
                <li><a href="#">RACE</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">TEACHERS AND TRAINING</a></li>
                <li><a href="#">POSTWAR EDUCATION</a></li>
                <li><a href="#">THE FALLEN</a></li>
                <li><a href="#">MEMORY</a></li>
              </ul>
            </li>

            <!-- Scrapbooking Tab -->
            <li><a href="#">SCRAPBOOKING</a>
              <!-- Scrapbooking Tab Content List -->
              <ul>
                <li><a href="#">NANCY THOMPSON</a></li>
                <li><a href="#">NEWARK STATE TEACHER&#39;S COLLEGE</a></li>
                <li><a href="#">SCRAPBOOK</a></li>
                <li><a href="#">SERVICEMAN&#39;S NEWS</a></li>
                <li><a href="#">PROJECT HISTORY</a></li>
              </ul>
            </li>

            <!-- Teaching Tab -->
            <li><a href="#">TEACHING</a></li>

            <!-- History Tab -->
            <li><a href="#">DOING HISTORY</a>
            <!-- History Tab Content List -->
              <ul>
                <li><a href="#">STUDENT WORK</a></li>
                <li><a href="#">SOCIAL MEDIA</a></li>
                <li><a href="#">MEDIA</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </nav>



  <!-- Link in jQuery CDN -->
  <script src="/assets/cdn/jquery/jquery-3.1.1.min.js"></script>

  <!-- Bootstrap JavaScript (USED FOR THE SEARCH BAR) -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



  <!-- Whole Page Content Container -->
  <div class="container">

    {{{body}}}

  </div>



  </body>

</html>