html{
  min-height: 100%;
  overflow-y: scroll;
}



body {
  background-image: url(../images/Cursive-Background.jpg);
  background-repeat: no repeat;
  background-size: cover;
}



#alphabet ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 15px;
}


#alphabet ul button{
	display: inline-block;
	padding: 9px;
}


button{
	border: none;
	background: transparent;
}



.author_box{
  width: 200px;
  height: 240px;
  float: left;

/*  text-align: center;
  vertical-align: middle;*/
  box-sizing: border-box;

  margin-left: 5px;
  margin-right: 5px;
}

.author_image{
  width: 200px;
  height: 190px;
  float: left;
}

.author_footer{
  width: 200px;
  background-color: #15317E;
  opacity: 0.7;
  filter: alpha(opacity: 70%);
  float: left;
  font-size: 13px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}