html{
  min-height: 100%;
  overflow-y: scroll;
}


body {
  background-image: url(../images/Cursive-Background.jpg);
  background-repeat: no repeat;
  background-size: cover;
}


#author-signature {
/*	font-family: 'Meddon', cursive;
	font-weight: bold;*/
  max-height: 85px;
  max-width: 95%;
}

#author-photo {
  /*max-height: 350px;*/
  max-width: 95%;
}


/* Mapping Styling */
/*#map {
  height: 75%;
  width: 750px;
  position: relative;
    height: 500px;
    width: 100%;
}
#maperror {
  height: 3%;
}
#legend { 
  background:white;
  padding:10px;
  display:none;
}*/

#map {
  height: 500px;
  width: 90%;
}
#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}
#legend h3 {
  margin-top: 0;
}
#legend img {
  vertical-align: middle;
}

.hide-used-as-placeholder {
  visibility:hidden;
}

.transcript-button {
  border: none;
  background: transparent;
}