a.hide_hyperlink{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}


.a{
  /*padding-top: 20px;*/

  width: 100%;
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 80px;
}
.b{
  width: 100%;
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 80px;
}

.c{
  width: 100%;
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 90px;
}

.d{
  width: 100%;
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 100px;
}

.e{
  width: 100%;
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 110px;
}



/* Added for Splash Page */

.container {
  margin-top: -20px;
}

#splash-page-image {
  width: 100vw;
  height: 90%;
  position: absolute;
  left: 0px;
  right: 0px;
}
