a.hide_hyperlink{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}


/* Better Cursive Link Styling */
@media (min-width: 960px) {
.resize_width {
    font-size: 40px;
  }
}
@media (min-width: 480px) and (max-width: 960px){
.resize_width {
    font-size: 5vw;
  }
}
@media (min-width: 0px) and (max-width: 480px){
.resize_width {
    font-size: 4vw;
  }
}

#cursive-page {
  padding-top: 10vh;
}


.a{
  /*padding-top: 20px;*/

  /*width: 100%;*/
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 80px;
  /*line-height: 5vh;*/
}
.b{
  /*width: 100%;*/
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 80px;
  /*line-height: 5vh;*/
}

.c{
  /*width: 100%;*/
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 90px;
  /*line-height: 5vh;*/
}

.d{
  /*width: 100%;*/
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 100px;
  /*line-height: 5vh;*/
}

.e{
  /*width: 100%;*/
  /*max-width: 960px;*/
  font-family: 'Meddon', cursive;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;

  line-height: 110px;
  /*line-height: 5vh;*/
}



/* Added for Splash Page */

.container {
  margin-top: -20px;
}

#splash-page-image {
  width: 100vw;
  height: 90%;
  position: absolute;
  left: 0px;
  right: 0px;
}
