/* Style for all pages & navbar */

body,
html{
	min-height: 100%;
	font-family: "Times New Roman", Times, serif;
}

nav {
	padding-bottom: 10px;
}

html{
  min-height: 100%;
  overflow-y: scroll;
}

body {
  background-image: url(../images/Cursive-Background.jpg);
  background-repeat: repeat;
  /*background-size: cover;*/
}

#kean-logo {
	height: 55px;
	float: left;
	margin-top: -10px;
	padding-bottom: 10px;
}

.navbar-brand {
	/*max-width: 450px;*/
	margin-top: 10px;
}

#webpage-logo {
	margin-left: 5px;
}

.navbar-inverse {
	background-color: #15317E;
	color: white;
}

.navbar-drop-menu {
	background-color: #15317E;
}

.navbar-drop-menu > li > a {
	color: white;
}

.navbar-brand > div {
	color: white;
}

#nav-reading, #nav-experiencing, #nav-scrapbooking, #nav-teaching, #nav-doing {
	color: white;
}

#navbar-collapse-1 {
	margin-top: 12.5px;
}
