<!-- Link in Hompage CSS -->
<link href="/assets/style/homepage_style.css" rel="stylesheet" type="text/css">

<!-- Page Body - Cursive Links -->
<h1 class="a">Sorry this page could not be displayed. Please go back to the <a class="hide_hyperlink" href="/">homepage</a>.</h1>