<!-- Link in Author Page CSS -->
<link href="/assets/style/authors_style.css" rel="stylesheet" type="text/css">


<!-- Title -->
<h2 align="center">AUTHORS</h2>

<br>

<!-- Search Bar Components -->
<div class="row">

  <!-- Empty Div to move search bar to the right -->
  <div class="col-lg-3"></div> 

    <!-- Search Bar -->
    <div class="col-lg-6">
      <div class="input-group">

        <!-- Input Fields -->
        <input id="autherSearchBox" placeholder="Search" type="text" class="form-control" aria-label="...">
        <div class="input-group-btn">

          <!-- First Name vs. Last Name Search -->
          <button id="authorLastOrFirstName" type="button" class="btn btn-default dropdown-toggle searchButtons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last Name <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a id="lastNameSearch" href="#">Last Name</a></li>
            <li><a id="firstNameSearch" href="#">First Name</a></li>
          </ul>

          <!-- Submit Button -->
          <button id="authorSearchSubmit" type="button" class="btn btn-primary searchButtons"><span class="glyphicon glyphicon-search"></span></button>

        </div>



      </div>
    </div>
  </div>


<!-- Click on Author Last Name Letter -->
<center>
  <div id="alphabet_wrapper"><br>
    <div id ="alphabet"><br>
      <ul>
        <button class="alpha" value="A">A</button>
        <button class="alpha" value="B">B</button>
        <button class="alpha" value="C">C</button>
        <button class="alpha" value="D">D</button>
        <button class="alpha" value="E">E</button>
        <button class="alpha" value="F">F</button>
        <button class="alpha" value="G">G</button>
        <button class="alpha" value="H">H</button>
        <button class="alpha" value="I">I</button>
        <button class="alpha" value="J">J</button>
        <button class="alpha" value="K">K</button>
        <button class="alpha" value="L">L</button>
        <button class="alpha" value="M">M</button>
        <button class="alpha" value="N">N</button>
        <button class="alpha" value="O">O</button>
        <button class="alpha" value="P">P</button>
        <button class="alpha" value="Q">Q</button>
        <button class="alpha" value="R">R</button>
        <button class="alpha" value="S">S</button>
        <button class="alpha" value="T">T</button>
        <button class="alpha" value="U">U</button>
        <button class="alpha" value="Y">V</button>
        <button class="alpha" value="W">W</button>
        <button class="alpha" value="X">X</button>
        <button class="alpha" value="Y">Y</button>
        <button class="alpha" value="Z">Z</button>
      </ul>
    </div>
  </div>
</center>

<br>

<!-- Div to Append all Authors -->
<center>
  <div id="author_list" class="col-md-12 centered"></div>
    <!-- Dynamically Append Author Divs from Database Here -->
  </div>
</center>



<!-- Link in JavaScript to append authors from API -->
<script src="/assets/javascripts/authorsByLetter.js"></script>