<!-- Link in Hompage CSS -->

<!-- <link href="/assets/style/page-flip.css" rel="stylesheet" type="text/css"> -->
<link href="/assets/style/index.css" rel="stylesheet" type="text/css">

<!-- Link in Homepage JS for page turning animations -->
<script src="/assets/javascripts/index.js"></script>

<!-- Page Body - Cursive Links or Splash Page -->
<div id="index-content">
	<a id="splash-page" href="#select"><img id="splash-page-image" src="/assets/images/Splash-Page.png"/></a>
</div>



<!-- http://cssdeck.com/labs/pure-css3-page-flip-effect -->
	<!-- <div id="page-flip">
		<div id="r1"><div id="p1"><div><div></div></div></div></div>
		<div id="r3"><div id="p3"><div><div></div></div></div></div>
	</div> -->
