<!-- Link in Turn JS for page flipping -->
<script type="text/javascript" src="/cdn/turn-js/jquery.min.1.7.js"></script>
<!-- <script type="text/javascript" src="/cdn/turn-js/jquery-ui-1.8.20.custom.min.js"></script> -->
<!-- <script type="text/javascript" src="/cdn/turn-js/jquery.mousewheel.min.js"></script> -->
<script type="text/javascript" src="/cdn/turn-js/modernizr.2.5.3.min.js"></script>
<!-- <script type="text/javascript" src="/cdn/turn-js/hash.js"></script> -->


<!-- Link in Hompage CSS -->
<link href="/assets/style/index.css" rel="stylesheet" type="text/css">


<!-- Page Body - Cursive Links -->
<!-- <h1 class="a"><a class="hide_hyperlink" href="/reading">Reading the Scrapbook</a></h1>

<h1 class="b"><a class="hide_hyperlink" href="#">Experiencing WWII</a></h1>

<h1 class="c"><a class="hide_hyperlink" href="#">Scrapbooking the War</a></h1>

<h1 class="d"><a class="hide_hyperlink" href="#">Teaching WWII</a></h1>

<h1 class="e"><a class="hide_hyperlink" href="#">Doing History</a></h1> -->



<div class="flipbook-viewport">
	<div class="container">
		<div class="flipbook">
			<div style="background-image:url(/pages/1.jpg)"></div>
			<div style="background-image:url(/pages/2.jpg)"></div>
			<div style="background-image:url(/pages/3.jpg)"></div>
			<div style="background-image:url(/pages/4.jpg)"></div>
			<div style="background-image:url(/pages/5.jpg)"></div>
			<div style="background-image:url(/pages/6.jpg)"></div>
			<div style="background-image:url(/pages/7.jpg)"></div>
			<div style="background-image:url(/pages/8.jpg)"></div>
			<div style="background-image:url(/pages/9.jpg)"></div>
			<div style="background-image:url(/pages/10.jpg)"></div>
			<div style="background-image:url(/pages/11.jpg)"></div>
			<div style="background-image:url(/pages/12.jpg)"></div>
		</div>
	</div>
</div>


<script type="text/javascript">

function loadApp() {

	// Create the flipbook

	$('.flipbook').turn({
			// Width

			width:922,

			// Height

			height:600,

			// Elevation

			elevation: 50,

			// Enable gradients

			gradients: true,

			// Auto center this flipbook

			autoCenter: true

	});

}

// Load the HTML4 version if there's not CSS transform

yepnope({
	test : Modernizr.csstransforms,
	yep: ['/cdn/turn-js/turn.min.js'],
	nope: ['/cdn/turn-js/turn.html4.min.js'],
	both: ['/cdn/turn-js/basic.css'],
	complete: loadApp
});

</script>
