<!-- Link in Hompage CSS -->
<link href="/assets/style/index.css" rel="stylesheet" type="text/css">

<!-- Page Body - Cursive Links -->
<h1 class="a"><a class="hide_hyperlink" href="/search/authors/a">Reading the Scrapbook</a></h1>

<h1 class="b"><a class="hide_hyperlink" href="#">Experiencing WWII</a></h1>

<h1 class="c"><a class="hide_hyperlink" href="#">Scrapbooking the War</a></h1>

<h1 class="d"><a class="hide_hyperlink" href="#">Teaching WWII</a></h1>

<h1 class="e"><a class="hide_hyperlink" href="#">Doing History</a></h1>