<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 7px;
  }

  #title {
    font-size: 120%;
  }

  #nancy-signature {
    max-width: 60%;
  }

  #nancy-signature-backup {
    font-family: 'Meddon', cursive;
    font-weight: bold;
    font-size: 300%;
    max-width: 100%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!-- Two Column Format  -->
<div class="container">
  <div class="row">

    <!-- Nancy Centered Photo and Title with Signature -->
    <div class="col-md-12">

      <!-- Page Title -->
      <center id="title">
        <h1 style="font-size: 300%;">Scrapbooking</h1>
      </center>

      <br/>

      <!-- Photo 1 -->
      <center>
        <img id="nancy-photo-1" style="max-width: 300px;" src="/assets/images/Nancy-Thompson-Photo.jpg" alt="Photo of Nancy Thompson"/>
        <p>(Nancy Thompson, 1947 yearbook)</p>
      </center>

      <br/>

      <!-- Signature -->
      <center id="nancy-signature-location">
        <img id="nancy-signature" src="/assets/images/Nancy-Thompson-Signature.png" alt="Nancy Thompson Signature" onerror="$('#nancy-signature').remove(); $('#nancy-signature-location').append('<h1 id=&quot;nancy-signature-backup&quot;>Nancy Thompson</h1>')"/>
      </center>

      </br>

    </div>

    <!-- Left Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <p>
        At the start of WWII, librarian Nancy Thompson had 27 years of experience working at NSTC.  She began before WWI, when the campus was a State Normal School, and was present as the school expanded its curriculum and grew into a State Teaching College.  The library was a critical place for students, where they could socialize and check out their textbooks.
      </p>

      <!-- Paragraph 2 -->
      <p>
        Thompson was hired in 1914, two years after graduating from Pratt University.  The only child of Robert and Eliza (Garrabrant) Thompson, she grew up on a farm in Mendham Township, New Jersey.  Once she joined the staff of the school she made Newark her home, as we see in the school yearbooks, which included all faculty, staff, and students addresses. Thompson organized a Library Council in 1929 and Friends of the Library [an early Alumni Group] in the mid 1930s.  She was a collector of illustrated children’s classics.
      </p>

      <!-- Photo 2 -->
      <center>
        <img id="nancy-photo-2" style="max-width: 80%;" src="/assets/images/Nancy-Thompson-Library-Photo.jpg" alt="Photo of Nancy in Classroom"/>
      </center>

      <br/>

      <!-- Paragraph 3 -->
      <p>
        During WWII, Thompson wrote letters to the men and women (students, alumni, and a faculty member) who served in the war effort.  She diligently filed all of their responses.  Surprisingly, there’s very little evidence of Thompson’s voice in the collection. It’s only in the Annual Report of the Library that we read her words, where she wrote year after year of the challenges of running a library.  In November 24, 1952, student paper noted that "[Thompson] prefers to remain in the background when it comes to the giving of honors but the Reflector feels that her efforts should be noted and commended. If the time, effort, and love with which she has guided just one event could be counted and added, its magnitude would far outshine the success of any and all the alumni affairs.”
      </p>

      <!-- Photo 3 -->
      <center>
        <img id="nancy-photo-3" style="max-width: 80%;" src="/assets/images/Nancy-Thompson-Writing-Photo.jpg" alt="Photo of Nancy Writing Letters"/>
      </center>

    </div>

    <br/>

    <!-- Right Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 4 -->
      <p>
        By 1952, Thompson’s health prevented her from working.  She took off for several “years of absence,” and retired when her sick leave benefits were terminated.  Nevertheless, the campus stayed close to her heart.  When, in the early 1950s, the school was in danger of closing and merging with the New Jersey State Teachers College at Montclair, she managed to gather 91 pages of signatures for a petition to keep the school open.  In 1954, NSTC presented Thompson with a blue leather photograph album, inscribed in gold and bearing a message of grateful appreciation from the Alumni Association.  This was the scrapbook into which she had begun to paste the WWII letter collection now available through this website.
      </p>

      <br/>

      <!-- Photo 4 -->
      <center>
        <img id="nancy-photo-4" style="max-width: 80%;" src="/assets/images/Nancy-Thompson-Honored-Photo.jpg" alt="Photo of Nancy Receiving the Scrapbook"/>
      </center>

      <br/>

      <!-- Paragraph 5 -->
      <p>
        After the new campus opened in Union, NJ in 1958, the college named the Library in her honor.  She was invited to the ceremony, but declined the invitation.  She later admitted,
       “I have felt that it is better for them not to see me as I am, but to remember me as I was.  The friends I had at the college mean a lot to me, and I would like them to know that it is not through any will of mine that I have not kept up relations with them.”  Nancy Thompson died in a nursing home on August 13, 1971, where she had been a patient for several years.  She never married or had any children.
      </p>

    </div>

  </div>
</div>
