<!-- Link in View Author Letters Page CSS -->
<link href="/assets/style/author_letters_style.css" rel="stylesheet" type="text/css">


{{!-- Title using author-name or Name --}}
{{!-- <h1  class="author-name" align="center"></h1> --}}
<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-12">
    <center>
      <img id="author-signature" src="" alt="Author Signature">
    </center>
  </div>
</div>

<br/><br/>

{{!-- Row for Image and Bio --}}
<div class="row">

  {{!-- Image --}}
  <div class="col-md-5 col-xs-12">
    <center>
      <img id="author-photo" src="" alt="Author Photo">
    </center>
  </div>

  {{!-- Bio --}}
  <div class="col-md-7 col-xs-12">
    <div style="margin-left: 20%;">
    {{!-- <div class="col-md-offset-0 col-xs-offset-3" > --}}

      {{!-- Repeat their name --}}
      <h3 class="author-name"></h3>

      {{!-- Important Facts --}}
      <ul>
        <li id="bio-birth"><b>Date of Birth: </b> </li>
        <li id="bio-death"><b>Date of Death: </b> </li>
        <li id="bio-enrolled"><b>Enrolled: </b> </li>
        <li id="bio-left"><b>Left N.S.T.C. for service: </b> </li>
        <li id="bio-return"><b>Return to N.S.T.C. from service: </b> </li>
        <li id="bio-graduated"><b>Graduated from N.S.T.C.: </b> </li>
        <li id="bio-degree"><b>Degree: </b> </li>
      <ul>

    </div>
  </div>

  <br/><br/>
<div>


{{!-- Row for Letters --}}
<div class="row">


  {{!-- Letters Title --}}
  <div class="col-md-12">
    <center><h2 id="mapped-letter">Letters</h2></center>
  </div>


  <div class="row">
    {{!-- Drop Down of all Letters to View --}}
    <div class="col-md-12">
      <br/>
      <center>
        {{!-- Drop Down --}}
        <div class="input-group">
          <b>Select a Letter: </b>
          <button id="selectLetter" type="button" class="btn btn-default dropdown-toggle searchButtons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i><span id="currentLetter"></span> </i><span class="caret"></span></button>
          <ul id="letterDropDown" class="dropdown-menu">
            {{!-- Dynamically append letter names from database --}}
          </ul>
        </div>
      </center>
    </div>
  </div>

  <br/>


  {{!-- Side By Side Letters and Transcribe --}}
  <div class="row">

   {{!-- Letter Images --}}
    <div class="col-md-6 col-xs-12">
      <center>
        <h4>
          {{!-- <a href="#" aria-label="Previous"><span aria-hidden="true">&lsaquo;</span></a> --}}
          <button class="btn btn-default transcript-button"><i class="glyphicon glyphicon-menu-left"></i></button>
          View Archive <span id="currentLetterNumber">1</span> of <span id="lastLetterNumber">1</span> 
          <button class="btn btn-default transcript-button"><i class="glyphicon glyphicon-menu-right"></i></button>
          {{!-- <a href="#" aria-label="Next"><span aria-hidden="true">&rsaquo;</span></a> --}}
        </h4>
        <img id="letterImage" src="" alt="Letter Scan" height="650" width="90%" style="background-color: #ffffff; margin-bottom: 20px;">
      </center>
    </div>

    {{!-- Letter Transcribe --}}
    <div class="col-md-6 col-xs-12">
      <center>
        <h4>
          <button class="btn btn-default hide-used-as-placeholder"><i class="glyphicon glyphicon-menu-up"></i></button>
          View Transcript
          <button class="btn btn-default hide-used-as-placeholder"><i class="glyphicon glyphicon-menu-down"></i></button>
        </h4>
        <div style="height: 650px; width: 90%; padding: 30px; overflow: auto; background-color: #e5e5e3; margin-bottom: 20px;">
          {{!-- Dynamically Append Letter Text --}}
          <p id="letterText" style="text-align: left;"></p>
        </center>
      <div>
    </div>

  </div>

  <br/><br/>
</div>


{{!-- Row for Map --}}
<div class="row">

 {{!-- Map Title --}}
  <div class="col-md-12">
    <center><h2>Map</h2></center>
  </div>


  <div class="row">
    {{!-- Drop Down of all Years to View --}}
    <div class="col-md-12">
    </div>
  </div>

  <br/>


  {{!-- View Author's Letters on Map --}}
  <div class="row">

    {{!-- Google Map Row --}}
    <div class="col-md-12">
      <center>
        {{!-- Custom Map Error Message --}}
        <div id="maperror"></div>

        {{!-- Google Map --}}
        <div id="map"></div>

        {{!-- Notes on which letter was selected --}}
        <br><b><div id="traversal"></div></b><br>

        {{!-- Google Map Legend --}}
        <div id="legend"><h3>Legend</h3></div>
      </center>
    </div>

    {{!-- Map Marker Controls Row --}}
    <div class="col-md-12" style="padding-bottom: 20px;">
      <center>
        <div id="marker_traveller">
          <button onclick="goto_first_marker()" class="btn btn-primary">First Letter</button>
          <button onclick="goto_final_marker()" class="btn btn-primary">Final Letter</button><br><br>
          <button onclick="goto_previous_marker()" class="btn btn-info">Previous Letter</button>
          <button onclick="goto_next_marker()" class="btn btn-info">Next Letter</button><br><br>
          <button onclick="toggle_legend_visibility()" class="btn btn-success">Toggle Legend View</button>
          <button onclick="reset_map_view()" class="btn btn-warning">Reset Map View</button>
        </div>
      </center>
    </div>

  </div>

</div>


{{!-- Link in JavaScript to collect all letter names from API --}}
<script src="/assets/javascripts/selectedAuthorLetters.js"></script>

{{!-- Link in Functions that Build the Map and Legend --}}
<script type="text/javascript" src="/map_js/map_author_letters.js"></script>
<script type="text/javascript" src="/map_js/map_control_buttons.js"></script>

{{!-- Google Maps API Resources --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwJ4VNrbXp9LO1_9O4H4kg-vwq8C0nPTk&callback=initMap"></script>

{{!-- Link in Mapping Libraries --}}
<script type="text/javascript" src="/map_libraries/OverlappingMarkerSpiderfier.js"></script>
<script type="text/javascript" src="/map_libraries/markerwithlabel.js"></script>
<script type="text/javascript" src="/map_libraries/polyline_labels.js"></script>