<!-- Link in View Author Letters Page CSS -->
<link href="/assets/style/author_letters_style.css" rel="stylesheet" type="text/css">


{{!-- Title using author-name or Name --}}
<h1 id="author-name-title" class="author-name" align="center"></h1>

<br/><br/>

{{!-- Row for Image and Bio --}}
<div class="row">

  {{!-- Image --}}
  <div class="col-md-5">
    <img src="http://placehold.it/350x350">
  </div>

  {{!-- Bio --}}
  <div class="col-md-7">

    {{!-- Repeat their name --}}
    <h3 class="author-name"></h3>

    {{!-- Important Facts --}}
    <ul>
      <li id="bio-birth"><b>Date of Birth: </b> </li>
      <li id="bio-death"><b>Date of Death: </b> </li>
      <li id="bio-enrolled"><b>Enrolled: </b> </li>
      <li id="bio-left"><b>Left N.S.T.C. for service: </b> </li>
      <li id="bio-return"><b>Return to N.S.T.C. from service: </b> </li>
      <li id="bio-graduated"><b>Graduated from N.S.T.C.: </b> </li>
      <li id="bio-degree"><b>Degree: </b> </li>
    <ul>

  </div>

<div>


<br/><br/>

{{!-- Row for Letters --}}
<div class="row">


  {{!-- Letters Title --}}
  <div class="col-md-12">
    <center><h2>Letters</h2></center>
  </div>


  <div class="row">
    {{!-- Drop Down of all Letters to View --}}
    <div class="col-md-12">
      <center>
        {{!-- Drop Down --}}
        <div class="input-group">
          <b>Select a Letter: </b>
          <button id="selectLetter" type="button" class="btn btn-default dropdown-toggle searchButtons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i><span id="currentLetter"></span> </i><span class="caret"></span></button>
          <ul id="letterDropDown" class="dropdown-menu">
            {{!-- Dynamically append letter names from database --}}
          </ul>
        </div>
      </center>
    </div>
  </div>

  <br/>


  {{!-- Side By Side Letters and Transcribe --}}
  <div class="row">

   {{!-- Letter Images --}}
    <div class="col-md-6">
      <img id="letterImage" src="" alt="Letter Scan" height="650" width="500" style="background-color: #ffffff;">
    </div>

    {{!-- Letter Transcribe --}}
    <div class="col-md-6">
      <div style="height: 650px; width: 500px; padding: 30px; overflow: auto; background-color: #e5e5e3;">
        {{!-- Dynamically Append Letter Text --}}
        <p id="letterText"></p>
      <div>
    </div>

  </div>


</div>



<br/><br/>


{{!-- Row for Map --}}
<div class="row">

 {{!-- Map Title --}}
  <div class="col-md-12">
    <center><h2>Map</h2></center>
  </div>


  <div class="row">
    {{!-- Drop Down of all Years to View --}}
    <div class="col-md-12">
      <center>
        {{!-- Drop Down --}}
        <div class="input-group">
          <b>Select a Year: </b>
          <button id="selectYear" type="button" class="btn btn-default dropdown-toggle searchButtons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i><span id="currentYear">All</span> </i><span class="caret"></span></button>
          <ul id="yearDropDown" class="dropdown-menu">
            <li class="yearListItem"><a href="#">All</a></li>
            <li class="yearListItem"><a href="#">1941</a></li>
            <li class="yearListItem"><a href="#">1942</a></li>
            <li class="yearListItem"><a href="#">1943</a></li>
            <li class="yearListItem"><a href="#">1944</a></li>
            <li class="yearListItem"><a href="#">1945</a></li>
            <li class="yearListItem"><a href="#">1946</a></li>
            <li class="yearListItem"><a href="#">1950</a></li>
          </ul>
        </div>
      </center>
    </div>
  </div>

  <br/>


  {{!-- View Letter Years on map --}}
  <div class="row">

    {{!-- Custom Map Error Message --}}
    <div id="maperror"></div>

    {{!-- Google Map --}}
    <div id="map"></div>

    {{!-- Google Map Legend --}}
    <div id="legend"><h3>Legend</h3></div>

    {{!-- Custom Marker Controls --}}
    <div id="marker_traveller">
      <div id="traversal"></div><br>
      <button onclick="goto_first_marker()">First Letter</button>
      <button onclick="goto_final_marker()">Final Letter</button><br><br>
      <button onclick="goto_previous_marker()">Previous Letter</button>
      <button onclick="goto_next_marker()">Next Letter</button><br><br>
      <button onclick="reset_map_view()">Reset Map View</button>
      <button onclick="toggle_legend_visibility()">Toggle Legend Visibility</button>
    </div>

    {{!-- Create Google Map Legend --}}
      <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: new google.maps.LatLng(-33.91722, 151.23064),
            mapTypeId: 'roadmap'
          });

          var iconBase = '/marker_icons/';
          var icons = {
            parking: {
              name: 'Parking',
              icon: iconBase + '1941_single.png'
            },
            library: {
              name: 'Library',
              icon: iconBase + '1942_single.png'
            },
            info: {
              name: 'Info',
              icon: iconBase + '1943_single.png'
            }
          };

          function addMarker(feature) {
            var marker = new google.maps.Marker({
              position: feature.position,
              icon: icons[feature.type].icon,
              map: map
            });
          }

          var features = [
            {
              position: new google.maps.LatLng(-33.91721, 151.22630),
              type: 'info'
            },

          ];

          for (var i = 0, feature; feature = features[i]; i++) {
            addMarker(feature);
          }


          // Create a Custom Map Legend
          // --------------------------------------- start ---------------------------------------
          var legend = document.getElementById('legend');
          legend.style.display = "block"; //toggle visibility here, when it's known the legend will actually be needed 
          
          var prefixes = ["unknown","1941","1942","1943","1944","1945","1946","1950"];

          for(var i = 0; i < prefixes.length; i++) {

            var single_icon = "/marker_icons/" + prefixes[i] + "_single.png";
            var multiple_icon = "/marker_icons/" + prefixes[i] + "_multiple.png";

            var single_name = prefixes[i] + " (single)";
            var multiple_name = prefixes[i] + " (multiple)";

            var div = document.createElement('div');

            div.innerHTML = '<img src="' + single_icon + '"> ' + single_name + '<img src="' + multiple_icon + '"> ' + multiple_name;
            legend.appendChild(div);
          }

          map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend); //push the filled legend div to the map

          // --------------------------------------- end ---------------------------------------


        }
    </script>





    {{!-- Toggle Legend Visibility --}}
    <script type="text/javascript">

      function toggle_legend_visibility() {

        var legend = document.getElementById('legend');

        if(legend.style.display == "block") { //if visible, hide it

          legend.style.display = "none";
        }

        else { //if hidden, show it

          legend.style.display = "block";
        }
      }

    </script>








    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwJ4VNrbXp9LO1_9O4H4kg-vwq8C0nPTk&callback=initMap">
    </script>

  </div>

</div>