<!-- Link in Hompage CSS (for cursive font) -->
<link href="/assets/style/index.css" rel="stylesheet" type="text/css">

<!-- Page Body - Splash Page -->
<div class="row">
  <br><br>
  <center>
    <h1 class="a resize_width"><a href="/experiencing/homefront" class="hide_hyperlink">Homefront</a></h1>
    <br>
    <h1 class="c resize_width"><a href="#" class="hide_hyperlink">Overseas Experience</a></h1>
    <br>
    <h1 class="a resize_width"><a href="#" class="hide_hyperlink">Postwar Education Theme</a></h1>
    <br>
    <h1 class="b resize_width"><a href="/experiencing/race" class="hide_hyperlink">Race</a></h1>
    <br>
    <h1 class="a resize_width"><a href="#" class="hide_hyperlink">Teachers in Training</a></h1>
    <br>
    <h1 class="a resize_width"><a href="#" class="hide_hyperlink">Wartime Experiences</a></h1>
    <br>
    <h1 class="d resize_width"><a href="#" class="hide_hyperlink">Women Work & WWII</a></h1>
  </center>
  <br>
</div>
