<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!--  Format  -->
<div class="container">

  <!-- Row for Title Photo and Header -->
  <div class="row">
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 350px;" src="/assets/images/experiencing/homefront/Exp-1942-YB-Dance-Study-Crop.png" alt="Photo of Dance Study Club from the 1942 Yearbook"/>
        <p id="title-photo-caption">
          1942 Yearbook picture of the Dance Study Club.
          <br/>
          Note the three Dots and a Dash was Morse Code for “V” standing for Victory. It’s also the name of a mixed drink!
        </p>
      </center>

      <!-- Title -->
      <center>
        <h1 id="page-title">Homefront</h1>
      </center>

      </br>

    </div>
  </div>


  <!-- Single Row Format -->
  <div class="row">
    <div class="col-xs-12" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/experiencing/homefront/Exp-Injured-Heroes-Article.png" width="120" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p>
        When we discuss World War II we often talk about the battle front, the fighting techniques, and the technology. We focus on the experience of the fighting soldiers we rarely discuss the impact of war on the home front or the experiences of those who do not go off to fight. We often do not realize how domestic life was influenced by the war. World War II had a tremendous impact on the lives of civilians and in turn civilian life impacted the lives of soldiers while they were away.. The war front and the home front contributed in an exchange over the course of the war. Through the Nancy Thompson Scrapbook collection we are able to get a glimpse of this exchange.
      </p>


      <!-- Paragraph 2 -->
      <div class="inline-image-right">
        <img style="margin-top: -20px;" src="/assets/images/experiencing/homefront/Exp-Red-Cross-War-Fund.jpg" width="180" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        The American Red Cross was founded on May 21, 1881 by Clara Barton. Barton had been inspired to create the organization after she had spent time in Europe following the Civil War and seen the Global Red Cross. During WWII the American Red Cross enrolled over 104,000 nurses for military service and sent 27 million packages to Allied prisoners of War and sent 300,000 tons of supplies overseas.  NSTC helped to play a role in the Red Cross efforts as well. Several students and alumni, including Filomena Jones (Class of 1930) and Emily Manganelli (Class of 1939). Manganelli traveled for three years around Europe to Italy and Germany. She then set sail again to Japan. Before the war she had been a supervisor of arts in Rahway, but she later resigned that position to work with the Red Cross peace time programs. Clearly, the Red Cross had a huge impact on Manganelli for her to give up her teaching position to head in to the Pacific theater and continue with the program.
      </p>


      <!-- Paragraph 3 -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/homefront/Exp-Red-Cross-4-Women.jpg" width="240" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Another NSTC alumni Filomena Jones also went overseas with the Red Cross. She helped start and run an American Red Cross club in the Bichler Brau Hotel, a former gathering place of Nazi SS troops. There she says that the most popular service offered is a hot bath and that the tubs are always busy. Unfortunately, neither woman wrote to Nancy Thompson as far as we know.
      </p>


      <!-- Paragraph 4 -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/homefront/Exp-War-Stamps.png" width="280" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        However, NSTC’s contribution did not just end with students. The college also had some women who volunteered with the Red Cross locally and created packages to be sent overseas. A newspaper article titled Injured Heroes Receive Boxes talks about how students from NSTC created boxes to be sent to hospitalized soldiers in conjunction with the Red Cross. Among the items requested were cigarettes, handkerchiefs, and nuts and candies. NSTC also received the Red Cross Generous Giving  Award. The Red Cross and organizations like it played a huge role in supplying troops and giving supplementary support where it was needed. It also provided a way for people on the home front to contribute to the war effort.
      </p>


      <!-- Paragraph 5 -->
      <p style="margin-top: 0px;">
        On January 21, 1944 William Peterson mentions that there is an article in the February issue of Popular Science about one of the air force gliders. This was not uncommon as there were so many technologically advances during the war, many driven by necessity. Many of these technologies would actually make their way into civilian and commercial life within 20 years of the war ending.
      </p>


      <!-- Paragraph 6 -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/homefront/Exp-Group-Of-Guys.png" width="300" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: -20px;">
        One interesting piece of technology was the M&amp;M. M&amp;Ms came from the Spanish Civil War when Forrest Mars saw soldiers eating chocolate coated in a sugar shell. The candy was so popular because it did not melt so soldiers could carry them without worrying. M&amp;Ms were first introduced in 1941 and during WWII they were sold exclusively to the US military. Due to the increase in demand the factory was set up on 12th street in Newark, NJ a few miles from the college. After the war M&amp;Ms were sold to the general public and variations like the peanut M&amp;M were introduced in the 1950s. Of course today M&amp;Ms are extremely popular.
      </p>


      <!-- Paragraph 7 -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/scrapbooking/nstc/NSTC-Give-A-Book.jpg" width="160" height="240">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Another fascinating invention of WWII was duct tape. Duct Tape was invented in 1942 by Johnson and Johnson. The original use of the tape was to keep moisture out of ammunition cases. Due to its waterproof nature it was called duck tape.  However, overtime soldiers discovered it could be used for so much more. Soon the tape was being used to repair guns and aircrafts. It was even used to patch clothes. The color changed to silver and the name to Duct tape later on when it began to be used more for duct work. This versatility is what helped duct tape last after the war and transition into civilian society. Now virtually every house has a role od duct tape somewhere and it is used for a variety of purposes.
      </p>

      <!-- Paragraph 8 -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/homefront/Exp-Women-With-Guns.png" width="160" height="160">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 40px;">
        These are just two example of wartime products that went on to have an impact on civilian life. Other examples are jet engines, now used in passenger planes, the technology that led to microwave ovens, and jeeps.
      </p>

      <!-- Clear next paragraph -->
      <div style="clear: left;"></div>

      <!-- Paragraph 9a -->
      <div class="inline-image-right">
        <img style="clear: left;" src="/assets/images/experiencing/homefront/Exp-Sozio-First-Aid.png" width="200" height="200">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: -20px;">
        Of course during the course of any war many young people die it would be too idealistic to think NSTC would be untouched by this particular tragedy. The death of one young man in particular seems to have sent shock waves through the college, Ralph Sozio. Sozio was heavily involved in every aspect of campus life. He even wrote a musical, College Daze, which was performed by the students. It seemed everyone knew Sozio or at least knew of him. During the course of the war he contracted Rheumatic fever. Nancy Thompson, presumably wrote to people asking them to send get well wishes to him. Even students like Ralph Manna, who barely remembered Sozio felt compelled to write him and wish him a speedy recovery. Thompson reports to the students later that Sozio had called her and spoke of how much he treasured the notes and letters everyone sent him. This speaks not only to the character of Sozio, but of the closeness of the NSTC community. Sozio died in June 1945 from his illness. Many of the letters from the next few months make mention of him.
      </p>


      <!-- Paragraph 9b -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/homefront/Exp-Number-320.png" width="300" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Roy Daniels writes “Words can hardly express what we of N.S.T.C. thought of Ralph and I know that his many friends will never forget the gifts he gave everyone through his music.” One can only imagine the shock and pain Sozio’s friends and family must have felt. Especially for those who were away, it must have been surreal to suddenly realize there would be one less friendly face when you returned home. For the students of NSTC it also must have been a shock to realize they would never sit in class with him or see him graduate.
      </p>


      <!-- Paragraph 10a -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/scrapbooking/nstc/NSTC-Reflector.jpg" width="250" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Another too real experience we often like to overlook is that of prisoners of war. Sidney Leigh (formerly Leiwoitz)(1941)  was listed missing by the War Department on July 28 1943, 3 months after arriving in England. He was an AAF navigator and a second lieutenant. His location is later announced to be Stalag Luft III a Nazi prison in Germany. Leigh had been shot down and captured when flying a mission, however his entire team seemed to be safe.  There are several  newspaper articles updating the community about his status while imprisoned.
      </p>


      <!-- Paragraph 10b -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/homefront/Exp-Service-Men-News.png" width="180" height="260">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        He originally writes his parents letting them know he has been captured and asking them to write and send supplies. He says there is no limit to mail he can receive, however a few months later in November he writes again saying he has yet to get any packages, he father told the newspaper that he has in fact sent several packages to his son. One can imagine the panic and fear of his parents upon hearing that their son is a Nazi prisoner, although there would be some relief in hearing from the Red Cross and from him that he is ok. Their anxiety must have increased exponentially when they then get a letter saying he has not been receiving their packages. In some ways this might have been worse than knowing he was dead.
      </p>


      <!-- Paragraph 10c -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/homefront/Exp-Robert-Behrendt.png" width="200" height="200">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Leigh’s friends and family lived in a sort of limbo of uncertainty. They did not really know when or if they would see him again, they also did not know what he was experiencing, even more so than most soldier’s families. Clearly, Leigh was not one to just sit around and wait however, he managed to escape from the camp. From there he joins a German underground organization in Munich and acts as a liaison between the Americans and the underground. As Nancy Thompson puts it in the scrapbook “He had a lot of weird experiences.” After the American troops arrive he is officially liberated and returns home to his family for a short while before returning to Miami for recuperation and further assignment. It must have been hard for his family as well to see him go again after just getting him back. This speaks a lot to the patriotism and pride though of the era.
      </p>


      <!-- Paragraph 11 -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/homefront/Exp-Sigma-Theta-Chi.png" width="250" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Among all the sadness and uncertainty of war however, there is some light. WWII gave way to many marriages and led to the baby boom of the 1950s and 60s. Many of our student soldiers also got to share in this joy. One such student was Robert Harris from Cranford. He married Frances Baker on September 18, 1943(?). While both were native New Jersey-ians they were married in Arcadia, Florida where Harris was stationed. The war forced people to get creative and find new solutions to issues they would take for granted back home. Another factor that could have played a part in these out of place marriages was the fear of the unknown. The intensity of war increased the repercussions of everyday life. When going off to war people were never certain if they were coming back. Through marriage wives could now receive the military benefits such as health care. A Military marriage was one way for these men to be sure their loved ones would be taken care of if they did not return.
      </p>


      <!-- Paragraph 12 -->
      <div class="inline-image-right">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/homefront/Exp-Freedoms.png" width="300" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Another of these students was Howard Lay. Lay gets married in 1943 to Mildred De Mott who was graduating from NSTC that same year. He says to Thompson that even though he is married he still plans to return to the college after the war. Lay seems to have lived a relatively normal life despite being in the military. He was stationed in Alabama and Mildred came down to visit him during the summers and he visited her when he was on furlough. His tone in his letters to Thompson he speaks about spending time with his wife in a casual tone, like nothing is different. The couple even welcomes a baby Karen Marie in November of 1945, while Lay is still in the military until January 1946. Lay was able to move past the barriers that military service presented  to try and live a relatively normal life and was happy about it.
      </p>


      <!-- Paragraph 13 -->
      <p style="margin-top: 0px;">
        In addition to the various other emotional impacts we discussed the war having, it is important to note that students serving in the military or the Red Cross was a source of pride. NSTC as well as families and the community at large were so proud of their servicemen and women. This is evident by the amount of newspaper articles written about them and how often their military pictures are used. Some of them even have military photos in their yearbooks. This support was also extremely important to the soldiers. William Peterson writes to Mr. Sloane thanking him for sending a Christmas card and says “It is the first expression I have heard from anyone along that line of appreciation.” He also later wrote Nancy Thompson thanking her for a birthday card. Many other student soldiers also mention in their letters how much they appreciate having someone write to them. Nancy Thompson served as a link to college and what they had left behind. Knowing that there were still people that remembered them and cared about them back home was probably a huge moral boost for the soldiers.
      </p>


      <!-- Bottom Image with Caption -->
      <center>
        <img style="margin-top: 10px;" src="/assets/images/experiencing/homefront/Exp-Fold-out-Christmas-Card.png" width="600" height="600">
        <br/>
        <center style="max-width: 500px; background-color: white;"><i>Fold out Christmas card, sent by NSTC to the service men and women, no date</i></center>
      </center>

      <br/>

    </div>
  </div>






</div>
