<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!--  Format  -->
<div class="container">

  <!-- Row for Title Photo and Header -->
  <div class="row">
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 350px;" src="/assets/images/experiencing/race/Race-Christmas-Card.png" alt="Christmas Card Sardinia, Italy"/>
        <p id="title-photo-caption">
          Christmas card sent by Chester Kuziora to Nancy Thompson in December 1943 from Sardinia, Italy
        </p>
      </center>

      <!-- Title -->
      <center>
        <h1 id="page-title">Race</h1>
      </center>

      </br>

    </div>
  </div>


  <!-- Single Row Format -->
  <div class="row">
    <div class="col-xs-12" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1a -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/race/Race-Fort-Huachuca.png" width="150" height="200">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        In the 1940's, the United States was a nation divided by color, as segregation was the law of the land. These practices were upheld by the U.S. Armed Forces, which did not desegregate until 1948, well after the conclusion of the Second World War. While Newark State Teachers College was a part of this broader culture, military service in World War II led students to first hand encounters with these issues.
      </p>


      <!-- Paragraph 1b -->
      <div class="inline-image-right">
        <img style="margin-top: -20px;" src="/assets/images/experiencing/race/Race-Adelbert-Berry.png" width="150" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        The student body at NSTC was a diverse one compared with other schools across the country and, in many ways, was progressive in its educational philosophy. This is evident in the letters from student-soldiers, which include reactions from basic training in the segregated south, interactions with native peoples while stationed abroad, as well as the perspective of an African American student-soldier, <a href="/authors/berry/adelbert">Adelbert Berry</a> who returned to NSTC after the war and was elected student government President.
      </p>


      <!-- Paragraph 2 -->
      <p style="margin-top: 0px;">
        The following letters were selected for their exploration on the issue of race.  While some of our letter writers shared similar sentiments on race relations, others exposed differing opinions.
      </p>


      <!-- Paragraph 3 -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/race/Race-US-Army-Letter.png" width="180" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 20px;">
        <a href="/authors/berry/adelbert">Adelbert Berry</a> wrote on January 24, 1944 about what he thought the spirit of the United States represented:
        <br/>
        <i>“...I feel that “with America’s great tradition of democracy, the United States should clean its own house first and get ready for the twenty-first century...”</i>
      </p>


      <!-- Paragraph 4 -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/race/Race-Giannuzzi-Photo.png" width="140" height="160">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        On November 9, 1945,  <a href="/authors/giannuzzi/john">John Giannuzzi</a> expressed what he felt was America’s responsibility to the world as an emerging power:
        <br/>
        <i>"...Living according to our ‘American Way’ we must not forget the people of the world. They are in dire need of help of an, educational, moral, spiritual and economic nature...”</i>
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 5 -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/race/Race-Rocco-Lorusso-Photo.png" width="280" height="120">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: -10px;">
        Distressed by what he saw in flood ravaged, segregated Arkansas, in an undated letter, <a href="/authors/lorusso/rocco">Rocco Lorusso</a> noted the similarities between the white and black populations:
        <br/>
        <i>“...These refugees are about the same economic level regardless of their color. Isn’t it peculiar though – the whites are still supposed to be superior.... Their life, work, and education are much the same. I can see no difference between the two...”</i>
      </p>


      <!-- Paragraph 6 -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/race/Race-In-The-Camps.png" width="180" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 25px;">
        <a href="/authors/pikus/joseph">Joe Pikus</a> was exposed to the brutal prejudices that ran deep in Mississippi, while working as an Army psychologist, and gave a rather ambiguous description in a letter dated March 4, 1944:
        <br/>
        <i>“Mississippi Negroes are in a class by themselves...”</i>
      </p>


      <!-- Paragraph 7 -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/race/Race-Ben-Kaufman-Letter.png" width="180" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 25px;">
        <a href="/authors/kaufman/ben">Ben Kaufman</a>, however, was very impressed by the Tuskegee Airmen training in Alabama in an undated letter:
        <br/>
        <i>“...the only Negro flying field in the country - and we believe it's the best...”</i>
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: right;"></div>


      <!-- Paragraph 8 -->
      <div class="inline-image-right">
        <img style="margin-top: 10px;" src="/assets/images/experiencing/race/Race-Mens-Basketball.png" width="180" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 10px;">
        <a href="/authors/benson/arthur">Art Benson</a>, a white officer in command of an entirely black unit, found his own way to navigate through the country’s complicated racial issues. For a letter dated July 19, 1945:
        <br/>
        <i>“...I find that being frank and willing to discuss “prejudices” I have eliminated a lot of potential trouble..”</i>
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 9 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/experiencing/race/Race-Chester-Kuziora-Photo.png" width="160" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Finally there is a Christmas card from <a href="/authors/kuziora/chester">Chester Kuziora</a> (top of page) that acquires racial overtones, sent from North Africa in December of 1943, that features a drawing depicting an Anglo looking service pilot and a stereotyped caricature of an African child.  This image conveyed all of the sentiments of colonialism, that placed the anglo on another cultural strata when compared with “native peoples.”
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: right;"></div>


      <!-- Paragraph 10 -->
      <div class="inline-image-right">
        <img style="margin-top: 10px;" src="/assets/images/experiencing/race/Race-The-Freshmen.png" width="220" height="200">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: -10px;">
        Some students, like Kuziora, echoed the stereotyped sentiments that can be used to characterize northern racism, but many others at Newark State like John Giannuzzi and Ben Kauffman,  were truly ahead of their times in terms of their open mindedness.  The most important question for scholars to ask, is not why many of these students were more inclined toward their progressive thinking, but what changed in the decades to follow, ultimately culminating in the Newark Uprising of 1967.   Today, more than seventy years later, many of these thoughts and ideas are still very relevant to contemporary issues of race in America.  By seeing and acknowledging that the students of four generations ago, were not so far off in their thinking as the students of today, we can better understand the challenges of race in America.
      </p>


    </div>
  </div>

  <!-- Pad bottom of page -->
  <div style="padding-bottom: 40px;"></div>

</div>
