<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  .image-caption {
    background-color: white;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!--  Format  -->
<div class="container">

  <!-- Row for Title Photo and Header -->
  <div class="row">
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 350px;" src="/assets/images/experiencing/wartime/NSTC-Wartime-Map.png" alt="Map hanging at NTSC with pinpoints of solder locations"/>
        <p id="title-photo-caption">
          Photo of service map displayed on wall at NSTC, pinpoints depict the locations of alumni and students
        </p>
      </center>

      <!-- Title -->
      <center>
        <h1 id="page-title">Wartime Experience</h1>
      </center>

      </br>

    </div>
  </div>


  <!-- Single Row Format -->
  <div class="row">
    <div class="col-xs-12" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1a -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/wartime/Censored-Vmail-Frank-Tansey.png" width="170" height="200">
        <br/>
        <center class="image-caption" style="max-width: 170px;"><i>Censored V-Mail from Frank Tansey, March 1, 1944</i></center>
      </div>
      <p style="margin-top: 0px;">
        Former President and Supreme Commander of the Allied forces in Europe, Dwight D. Eisenhower, poetically stated, “I hate war as only a soldier who has lived it can, only as one who  has seen its brutality, its futility, its stupidity.”  The wartime experience was one of, if not the most base and taxing environments created by man.  Soldiers were pushed to the brink of physical, psychological, and emotional exhaustion, not just to complete one’s mission, but also to ensure his or her own survival.
      </p>


      <!-- Paragraph 1b -->
      <div class="inline-image-right">
        <img style="margin-top: -20px;" src="/assets/images/experiencing/wartime/Letter-D-Amico.png" width="160" height="200">
        <br/>
        <center class="image-caption" style="max-width: 160px;"><i>An undated letter from Achilles D’Amico.</i></center>
      </div>
      <p style="margin-top: 25px;">
        The young men of NSTC who served were not unique when compared to any other World War II vets, but what was special was that through their letters we are allowed a candid look into their minds and inner thoughts as they occurred.  Their letters reveal a broad range of wartime experiences, and an equally broad range of reactions to those experiences.
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 2 -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/wartime/Photo-Cordasco-In-Jeep.png" width="220" height="140">
        <br/>
        <center class="image-caption" style="max-width: 220px;"><i>Alfred Cordasco in a Jeep. 1945. Oahu, Territory of Hawaii.</i></center>
      </div>
      <p style="margin-top: 0px;">
        The group of letters you are about to read are connected through their relation to the wartime experience.  Some of these journeys reflect the classic Hollywood portrayal, while others strongly counteract it.  Other letters offer examples of important events well recognized in the annals of history, while still others show that there was much down time for the troops.  These letters also reveal the excitement of women embracing new challenges, the curiosity ignited in the soldiers who found themselves in remote corners of the globe, soldiers struggling to deal with the mundane and tedious nature of military waiting, and more frighteningly, soldiers confronting the horrors of battle.
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 3 -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/wartime/Photo-Regina-Gorski.png" width="140" height="200">
        <!-- <br/> -->
        <center class="image-caption" style="max-width: 140px;"><i>Regina Gorski, loose photo, no date.</i></center>
      </div>
      <p style="margin-top: 0px;">
        <a href="/authors/gorski/regina">Regina Gorski</a>, a proud member of the Women’s Army Corps, wrote on March 6, 1945 about her wish for more recognition of women in regards to the name of the school’s publication <i>The Service Men's News</i>:
        <br/>
        <i>“... couldn’t the SM news unbend itself and include WOMEN, in its title?  Might be a long war.”</i>
        <br/>
        Gorski also included the thrill of her gunnery experience, “off the record” of course:
        <br/>
        <i> “I fired the bazooka and was disappointed that it didn’t throw me.  The machine gun left me with that childish desire to just keep on shooting.”</i>
      </p>


      <!-- Paragraph 4 -->
      <div class="inline-image-left">
        <img style="margin-top: 0px;" src="/assets/images/experiencing/wartime/Postcard-Edwin-Gildner.png" width="230" height="150">
        <br/>
        <center class="image-caption" style="max-width: 220px;"><i>Postcard from Edwin Gildner, November 22, 1945.</i></center>
      </div>
      <p style="margin-top: 25px;">
        <a href="/authors/gildner/edwin">Edwin Gildner</a> wrote on October 16, 1944 about the over-glamorization and dramatization of the war while stationed in China:
        <br/>
        <i>“Why don’t they regard us as ordinary Americans doing a job that is necessary, sometimes uncomfortable and usually boring?... The magazines, the radio, books, motion pictures, and everything else insists on glamorizing or dramatizing this lousy war.</i>
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 5 -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/wartime/Wartime-Arthur-Soraci-Photo.png" width="130" height="200">
        <br/>
        <center class="image-caption" style="max-width: 130px;"><i>Arthur Soraci, loose photo, no date.</i></center>
      </div>
      <p style="margin-top: 5px;">
        <a href="/authors/soraci/arthur">Arthur Soraci</a> a Ranger who participated in many dangerous missions, including D-Day on Omaha Beach, had a very different opinion of the war:
        <br/>
        <i>“That’s why I am proud I belong to such a courageous outfit that puts freedom and death before dishonor. I am not afraid of death when it is for such worthy ideals and way of life. In fact, I would not hesitate one moment to plunge into her clutches, if I knew it would help a little bit to further our cause.”</i>
      </p>


      <!-- Paragraph 6 -->
      <div class="inline-image-left">
        <img style="margin-top: 0px; padding-right: 10px;" src="/assets/images/experiencing/wartime/Wartime-Margaret-OMara-Photo.png" width="130" height="210">
        <br/>
        <center class="image-caption" style="max-width: 120px;"><i>Margaret O’Mara on a Bike. Eighth Air Force Base, England, no date.</i></center>
      </div>
      <p style="margin-top: 25px;">
        While serving overseas in the Red Cross for eighteen months, <a href="/authors/o'mara/margaret">Margaret O'Mara</a> experienced independence and also found love:
        <br/>
        <i>“Margaret O’Mara married Captain Carroll W. Stewart, of Harrington, Nebraska, at her home in Millburn, NJ” January 5th. 1940.</i>
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: right;"></div>


      <!-- Paragraph 7 -->
      <div class="inline-image-right">
        <img style="margin-top: 10px;" src="/assets/images/experiencing/wartime/Murray-Brooks-Combo-Image.png" width="160" height="240">
        <br/>
        <center class="image-caption" style="max-width: 170px;"><i>Loose photo of Murray Brooks and page 7 of letter dated July 11, 1945.</i></center>
      </div>
      <p style="margin-top: -10px;">
        <a href="/authors/brooks/murray">Murray Brooks</a>, found himself in Chabua, India, and wrote on July 11th of 1945 about a variety of experiences including the culture shock of the poverty he saw there:
        <br/>
        <i>“I can’t help but pity these poverty stricken diseased + illiterate people.  Scenes in Bombay + Calcutta are actually tragic to witness.”</i>
        <br/>
        He also provided examples of how his platoon had fun in their downtime:
        <br/>
        <i>“I’ve had several occasions to go off on hunting trips in the Burma jungle…We hunt with 45 cal. Thompson sub machine guns.”</i>
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 8 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px; padding-left: 10px;" src="/assets/images/experiencing/wartime/Letter-Romolo-Pannullo.png" width="150" height="180">
        <!-- <br/> -->
        <!-- <center class="image-caption" style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 20px;">
        Serving in North Africa, <a href="/authors/pannullo/romolo">Romolo Pannullo</a> was part of a security detail at the Yalta Conference and found himself in the presence of world leaders including President Roosevelt, Prime Minister Winston Churchill, King Abdulaziz (Ibn Saud) of Saudi Arabia, and the Ethiopian Emperor Selassie.  He wrote about it in a letter dated March 12 [1944]:
        <br/>
        <i>“These talks were going on just around the corner. Haile Selassie dined with us for several days and Sec’t of State Stettinius paid us a visit.”</i>
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 9 -->
      <div class="inline-image-right">
        <img style="margin-top: 10px; padding-left: 10px;" src="/assets/images/experiencing/wartime/William-Cotton-Combo-Image.png" width="310" height="180">
        <!-- <br/> -->
        <!-- <center class="image-caption" style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        More frighteningly, <a href="/authors/cotton/william">William Cotton</a> suffered a mental breakdown, before PTSD was regarded as an official condition.  He wrote on July 4, 1945 about this experience on his “furlough” from a hospital bed:
        <br/>
        <i>“There was earth shaking and an empty hallowing which I had never known nor had ever imagined.  I was lost in infinite space and in eternal time.  It was now, and never, and always and I couldn’t fit in.”</i>
      </p>


      <!-- Paragraph 10 -->
      <p style="margin-top: 25px;">
        Together these letters offer an incredibly candid look into the wartime experience of the students of Newark State. The experiences of the NSTC students turned soldiers were not unique.  What is unique is the opportunity to share in those experiences through the letters that survive in the scrapbook.
      </p>


    </div>
  </div>

</div>
