<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
    background-color: white;
  }

</style>



<!--  Format  -->
<div class="container">

  <!-- Row for Title Photo and Header -->
  <div class="row">
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 200px;" src="/assets/images/experiencing/women/Women-Margaret-OMara-Photo.png" alt="Photo of Margaret O'Mara on a Bicycle"/>
        <p id="title-photo-caption">
          Margaret O’Mara on a Bike. Eighth Air Force Base, England.
        </p>
      </center>

      <!-- Title -->
      <center>
        <h1 id="page-title">Women, Work, and World War II</h1>
      </center>

      </br>

    </div>
  </div>


  <!-- Single Row Format -->
  <div class="row">
    <div class="col-xs-12" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <div class="inline-image-left">
        <img style="margin-top: 5px;" src="/assets/images/experiencing/women/Women-American-Red-Cross.png" width="195" height="165">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 5px;">
        “World War II...was a war waged on land, sea, and in the air over several diverse theaters of operation for approximately six years. The role women played was undeniably paramount to our success.”  Not only did large numbers of American women enter the workforce to fill jobs left by men serving in the military,  but women also volunteered to support the war effort and even joined the new branches of the Armed Services created specifically for women.  By the end of the war, “more than six million women joined the workforce.” The Nancy Thompson Scrapbook contains letters from female students from NSTC who served in the war effort in a variety of capacities.  Their letters provide invaluable insight into their unique experiences.
      </p>


      <!-- Paragraph 2 -->
      <div class="inline-image-right">
        <img style="margin-top: -20px;" src="/assets/images/experiencing/women/Women-Red-Cross-Worker-To-Sail.png" width="220" height="180">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        Many women at Newark State and around the country volunteered with the American Red Cross, the first organization to assist the war effort at home and abroad.  On the homefront, volunteers held key roles including: raising money, maintaining morale, and gathering supplies for war victims and soldiers alike.  Volunteers sent overseas provided compassionate support, medical care, and entertainment for troops serving far from home.  By the end of the war the American public had contributed over $784 million in support of the American Red Cross.
      </p>


      <!-- Paragraph 3 -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/women/Women-Letter-Somewhere-NJ.png" width="200" height="250">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: -5px;">
        In 1941 the Women’s Army Auxiliary Corps (WAAC) was created to free men for military service while employing women to continue in non-combatant military jobs that were necessary for military operations. “Initially WAACs worked as file clerks, typists, stenographers, or motor pool drivers, but gradually each service discovered an increasing number of positions WAACs were capable of filling.” The WAAC played a key role in fighting the war, and as the war progressed their importance became more apparent to Americans. After two years of involvement in the war through the WAAC “Army leaders asked for the authority to convert the Women's Army Auxiliary Corps into the Women's Army Corps (WAC), which would be part of the Army itself rather than merely serving with it.” This was an important accomplishment for women’s equality as members of the the Army female members were granted the same[ranking] as their male counterparts.
      </p>


      <!-- Paragraph 4 -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/women/Women-Stick-Figure-Doodle.png" width="200" height="250">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: 0px;">
        The Army Corps was not the only branch of service that expanded to accommodate female members.  In 1942, the Navy created the Navy Women’s Service: WAVES.  Similar to the WAACs, WAVES participated in a large variety of jobs including administration, communications, supply, medicine, and even intelligence.  A specialized branch of women pilots was also created in 1942.  Women Airforce Service Pilots (WASPs) flew on stateside missions as test pilots and anti-aircraft artillery trainers. Moreover, they ferried aircraft across the continental U.S. so that male pilots would be available to fly in overseas combat.
      </p>


      <!-- Paragraph 5 -->
      <div class="inline-image-left">
        <img style="margin-top: -5px;" src="/assets/images/experiencing/women/Women-Margaret-Omara-Portrait.png" width="175" height="220">
      </div>
      <p style="margin-top: 0px;">
        These letters from female students describe their many experiences serving their country. These women expressed to Nancy Thompson how important their jobs were in helping American forces win the war against the Axis powers.  Three NSTC women were among the 150,000 women serving in WAAC (later WAC) during World War II.  This direct involvement in the wartime action granted women confidence in voicing their opinions concerning the war. <a href="/authors/beach/julia"> Julia Beach</a> , in an undated letter to Thompson, a member of the Women’s Army Corps (WAC) explained that “the Germans should go down in a year, and if it takes us longer than two years to beat the Germans, we may have lost the war.” On March 6, 1945 fellow WAC <a href="/authors/gorski/regina">Regina Groski</a> described  “...spinning in a L-5 Stinson experiencing the thrills that come with loop the looping, barrel rolling, climbing,...hedge hopping,...90 and 110 miles per hr...at 5300 ft.”
      </p>


      <!-- Paragraph 6a -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/women/Women-Stick-Figure-Doodle-Cropped.png" width="220" height="160">
        <!-- <br/> -->
        <center style="max-width: 220px;"><i>Letter from Julia Beach, no date.</i></center>
      </div>
      <p style="margin-top: 0px;">
        In their letters, these women expressed excitement in serving their country, and the seriousness with which they took their work.  <a href="/authors/lyon/louise">Louise Lyon</a>, a WAVE, described her work in a letter on September 21, 1944,  “on the hardest ward in the hospital, but also the most satisfying.” Lyon wrote that she did not mind the hard work because she knew her role as a WAVE helped the men serving her country.
      </p>


      <!-- Paragraph 6b -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/experiencing/women/Women-WAVES-Schedule.png" width="170" height="220">
        <!-- <br/> -->
        <!-- <center style="max-width: 200px;"><i>Caption Here</i></center> -->
      </div>
      <p style="margin-top: -5px;">
        On March 7, (no year), <a href="/authors/mccauley/anne">Anne McCauley</a>,  another WAVE member, described her training as a gunnery instructor on a synthetic training device developed for aerial gunnery specialists.  She added that she just loved “the shooting part.”  McCauley even challenged her former NSTC professor and archery coach, Joseph D’Angola, to a match; McCauley makes a statement in regards to said match,  “you could tell Mr. D’Angola I’d be glad to take him on some day.”
      </p>


      <!-- Paragraph 7 -->
      <p style="margin-top: 0px;">
        Although there is a relatively small number  of women letter writers in the collection, their letters are important in sharing with readers the history-making experiences women had in World War II.  Proud of her contributions to the war effort, Louise Lyon thanked Nancy Thompson for her work in making Lyon feel remembered on the homefront.
      </p>


      <!-- Bottom Image with Caption -->
      <!-- <div style="clear:left;">
        <img style="margin-top: 10px;" src="/assets/images/experiencing/women/Women-Stick-Figure-Doodle-Cropped.png" width="220" height="160">
        <br/>
        <center style="background-color: white; text-align:left;"><i>Letter from Julia Beach, no date.</i></center>
      </div> -->

    </div>
  </div>


  <!-- Pad bottom of page -->
  <div style="padding-bottom: 40px;"></div>



</div>
