<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #nancy-signature {
    max-width: 60%;
  }

  #nancy-signature-backup {
    font-family: 'Meddon', cursive;
    font-weight: bold;
    font-size: 300%;
    max-width: 100%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!-- Two Column Format  -->
<div class="container">
  <div class="row">

    <!-- Nancy Centered Photo and Title with Signature -->
    <div class="col-md-12">

      <!-- Photo 1 -->
      <center>
        <br/>
        <img id="nancy-photo-1" style="max-width: 300px;" src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Photo.jpg" alt="Photo of Nancy Thompson"/>
        <p>Nancy Thompson, 1947 Yearbook</p>
      </center>

      <br/>

      <!-- Signature -->
      <center id="nancy-signature-location">
        <img id="nancy-signature" src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Signature.png" alt="Nancy Thompson Signature" onerror="$('#nancy-signature').remove(); $('#nancy-signature-location').append('<h1 id=&quot;nancy-signature-backup&quot;>Nancy Thompson</h1>')"/>
      </center>

      </br>

    </div>

    <!-- Left Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <p>
        At the start of WWII, librarian Nancy Thompson had 27 years of experience working at NSTC. She began before WWI, when the campus was a State Normal School, and was present as the school expanded its curriculum and grew into a State Teaching College. The library was a critical place for students, where they could socialize and check out their textbooks.
      </p>


      <!-- Paragraph 2 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Library-Photo.jpg" width="200" height="200">
        <br/>
        <center><i>Library Council, 1941 Yearbook</i></center>
      </div>
      <p>
        Thompson was hired in 1914, two years after graduating from Pratt University. The only child of Robert and Eliza (Garrabrant) Thompson, she grew up on a farm in Mendham Township, New Jersey. Once she joined the staff of the school she made Newark her home, as we see in the school yearbooks, which included all faculty, staff, and students addresses. Thompson organized a Library Council in 1929 and Friends of the Library [an early Alumni Group] in the mid 1930s. She was a collector of illustrated children’s classics.
      </p>


      <!-- Paragraph 3a -->
      <div class="inline-image-right">
        <img src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Postcards.png" width="180" height="200">
        <br/>
        <center style="max-width: 160px; padding-bottom: 10px;"><i>Postcard from Thompson, signed, no date.</i></center>
      </div>
      <p>
        During WWII, Thompson wrote letters to the men and women (students, alumni, and a faculty member) who served in the war effort.  180 people wrote back, many who addressed her with humor and affection.  She diligently filed all of their responses.
      </p>

      <!-- Clear OR Move closer to previous paragraph -->
      <!-- <div style="clear: right;"></div> -->
      <div style="margin-top: -10px;"></div>

      <!-- Paragraph 3b -->
      <div class="inline-image-left">
        <img src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Yellow-Page.png" width="220" height="180">
        <br/>
        <center style="max-width: 220px;"><i>Handwritten introduction to scrapbook, by Thompson, no date.</i></center>
      </div>
      <p>
        Surprisingly, there’s very little evidence of Thompson’s voice in the collection. We only have one typed postcard that she mailed out to the men and women and signed (certainly there were more). We have a lovey introduction to the scrapbook in her own handwriting. In the Annual Report of the Library she wrote year after year of the challenges of running a library. In November 24, 1952, student paper noted that Thompson "prefers to remain in the background when it comes to the giving of honors but the Reflector feels that her efforts should be noted and commended. If the time, effort, and love with which she has guided just one event could be counted and added, its magnitude would far outshine the success of any and all the alumni affairs.”
      </p>


    </div>

    <br/>

    <!-- Right Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 4 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Honored-Photo.jpg" width="200" height="300" />
        <br/>
        <center style="max-width: 200px;"><i>Nancy Thompson receiving scrapbook, 1954</i></center>
      </div>
      <p>
        By 1952, Thompson’s health prevented her from working.  She took off for several years of absence, and retired when her sick leave benefits were terminated. Nevertheless, the campus stayed close to her heart. When, in the early 1950s, the school was in danger of closing and merging with the New Jersey State Teachers College at Montclair, she managed to gather 91 pages of signatures for a petition to keep the school open. In 1954, NSTC presented Thompson with a blue leather photograph album, inscribed in gold and bearing a message of grateful appreciation from the Alumni Association. This was the scrapbook into which she had begun to paste the WWII letter collection now available through this website.
      </p>

      <!-- Paragraph 5a -->
      <div class="inline-image-right">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Writing-Photo.jpg" width="200" height="200">
        <br/>
        <center><i>Nancy Thompson, 1940 Yearbook</i></center>
      </div>
      <p>
        After the new campus opened in Union, NJ in 1958, the college named the Library in her honor. She was invited to the ceremony, but declined the invitation. She later admitted in a letter after the ceremony, “I have felt that it is better for them not to see me as I am, but to remember me as I was. The friends I had at the college mean a lot to me, and I would like them to know that it is not through any will of mine that I have not kept up relations with them.”
      </p>

      <!-- Paragraph 5b -->
      <p>
        Nancy Thompson died in a nursing home on August 13, 1971, where she had been a patient for several years.  She never married or had any children.
      </p>

    </div>

  </div>
</div>
