<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!-- Two Column Format  -->
<div class="container">
  <div class="row">

    <!-- Row for Title Photo and Header -->
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 350px;" src="/assets/images/scrapbooking/nstc/NSTC-Exterior-With-Flag-Post-Crop.jpg" alt="Photo of N.S.T.C."/>
        <p>Photo of Exterior of N.S.T.C.</p>
      </center>

      <br/>

      <!-- Title -->
      <center>
        <h1 id="page-title">Newark State Teachers College</h1>
      </center>

      </br>

    </div>

    <!-- Left Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/nstc/NSTC-Auditorium.jpg" width="200" height="200">
        <br/>
        <center><i>Students in auditorium</i></center>
      </div>
      <p>
        Kean University was founded in 1855 in Newark, NJ, as a Normal School to prepare teachers for the city of Newark.  In 1913 the institution moved into a beautiful, gothic style, building of it’s own and became the New Jersey State Normal School at Newark.  By the 1930s, the school expanded its curriculum to four education majors: General Education, Kindergarten-Primary, Industrial Arts, and Fine Arts.  In 1937, the school transitioned from a Normal School into the New Jersey Teachers College at Newark, and offered a college degree rather than a diploma.  Fondly called Newark State Teachers College by students and administrators, by the 1939-40 academic year, enrollment was at about 500 students.
      </p>


      <!-- Paragraph 2a -->
      <div class="inline-image-right">
        <img src="/assets/images/scrapbooking/nstc/NSTC-1940-YB-Resolution.jpg" width="180" height="250">
        <br/>
        <center><i>Resolution, 1940 Yearbook</i></center>
      </div>
      <p>
        In 1939, the student newspaper began to cover the war in Europe and Asia. Student support for US involvement, like that of the general American population, was lacking.  On October 18, 1940, the students and faculty created a resolution pledging assistance to “the moral and intellectual defense” of America.” This resolution was recognized by the United States Commissioner of Education.  The day after Pearl Harbor was attacked, the entire school gathered for an assembly to listen via radio to President Roosevelt address the nation and declare war against Japan.
      </p>


      <!-- Paragraph 2b -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/nstc/NSTC-Reflector.jpg" width="250" height="180">
        <br/>
        <center><i>Student Newspaper, December 19, 1939</i></center>
      </div>
      <p>
        After listening, the school President encouraged the community to be unified “in thought and action” and said “we should, as patriotic Americans, continue with undiminished enthusiasm, our present activities at the institution.  In this way we will be able to assist in defense effort to the best of our ability.”
      </p>

    </div>

    <br/>

    <!-- Right Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 3 -->
      <div class="inline-image-right">
        <img src="/assets/images/scrapbooking/nstc/NSTC-Give-A-Book.jpg" width="200" height="300" />
        <br/>
        <center><i>Poster Promoting Book Drive</i></center>
      </div>
      <p>
        In the 1941-42 academic year there were 112 men enrolled on campus. Joseph D’Angola, Dean and Instructor in Health and Physical Education, set up a morning exercise class to prepare the men for basic training.  By 1943-44, as most male students joined the service, there were only 9 men enrolled.  The women joked that the college had become a seminary.  An accelerated curriculum allowed eligible students to graduate in 3 years instead of 4, in order to deal with the teacher shortage in the State.  Students kept up their patriotic duties and organized fundraisers, Victory Book Drives, and sold war bonds.  Virtually every club on campus found a way to support the war financially or morally.
      </p>


      <!-- Paragraph 4a -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/nstc/NSTC-1947-Yearbook.jpg" width="160" height="220" />
        <br/>
        <center><i>1947 Yearbook</i></center>
      </div>
      <p>
        After the war, the Servicemen’s Readjustment Act of 1944 (aka the G.I. Bill), eased the path for our letter writers to return from war and come back to campus, transfer to other schools, or pursue graduate degrees.  Mr. Toohey was hired in the 1945-46 academic year to aid in the “unusually large number of details involved in registering and processing a veteran.”  In the 1947-48 Annual Report, Toohey observed of the 141 Veterans on campus: “the scholastic records of these veterans indicates that there are doing a slightly better than average work.  About 62% are in the upper half of their classes.”  During the year, Toohey held approximately 800 interviews with the veterans.
        <br/><br/>

        Among their greatest concerns:
        <br/>

        <i>Financial</i> – too little or too much money
        <br/>

        Personal – insurance, inheritance, housing, O.P.A. regulations, taxes, loans, budgets
        <br/>

        <i>Marital Relations</i> – marriage, separation, and divorce; the social and emotional responses to each
        <br/>

        <i>Bonus payments</i> – up to date records on the laws regarding payments to veterans
        <br/>
      </p>


      <!-- Paragraph 4b -->
      <p>
        NSTC continued to grow and change in the post war era.  Outgrowing the space in Newark, NJ, the campus relocated to Union, NJ in 1958.  The school has continually expanded fields of study, enrollment, and faculty and staff.  The name also changed, first to Newark State College, then Kean College, and now Kean University.  The Nancy Thompson Library has been standing for over 50 years.  We are confident she would be proud of all that the University has accomplished.
      </p>

    </div>

  </div>
</div>
