<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  #title-photo-caption {
    margin-left: 20%;
    margin-right: 20%;
  }

  /* Custom Media Query for Title Photo Caption on Mobile */
  @media (min-width: 0px) and (max-width: 550px){
  	#title-photo-caption {
  		margin-left: 7%;
      margin-right: 7%;
  	}
  }

</style>

<!-- Page Content -->
<div class="container">

  <!-- Row for Title Photo and Header -->
  <div class="row">
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 350px;" src="/assets/images/scrapbooking/project-history/PH-Kean-Magazine-Summer-2014-Cover-Crop.jpg" alt="Photo of Kean History Dept Staff from the Summer 2014"/>
        <p id="title-photo-caption">
          Kean Magazine cover, Summer 2014 with the first group of Honor’s History Students: Stephanie Valente, Anthony McFarlane,  Michael Collins, and Christina Leedy, under the guidance of associate professors  Dr. Jonathan Mercantini, now Acting Dean of Humanities and Social Sciences, and Dr. Elizabeth Hyde, Chair, Department of History.
        </p>
      </center>

      <br/>

      <!-- Title -->
      <center>
        <h1 id="page-title">Project History</h1>
      </center>

      </br>

    </div>
  </div>


  <!-- Two Column Format -->
  <div class="row">

    <!-- Left Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/project-history/PH-Posters-on-the-Hill.jpg" width="200" height="180">
        <br/>
        <center style="max-width: 200px;"><i>Students & Professors attending Posters on the Hill</i></center>
      </div>
      <p>
        In 2010, University Archivist Erin Alghandoor gained stewardship of the Kean University Archives. The scrapbook was a highlight for sharing when classes came to visit.  She developed a relationship with the then Department of History Chair, Dr. Jonathan Mercantini, and assistant-Chair, Dr. Elizabeth Hyde, who were creating an Honors History program. It was agreed that the scrapbook would be a great initial launching project, which began in 2013.
      </p>

    </div>

    <br/>

    <!-- Right Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 2 -->
      <div class="inline-image-right">
        <img src="/assets/images/scrapbooking/nstc/NSTC-Give-A-Book.jpg" width="200" height="300" />
        <br/>
        <center><i>Poster Promoting Book Drive</i></center>
      </div>
      <p>
        para 2
      </p>

    </div>

  </div>

    <!-- Three Column Format -->
    <div class="row">

      <!-- Left Column -->
      <div class="col-md-4" style="padding-left: 5%; padding-right: 5%;">

        <!-- Col 1 -->
        <div class="inline-image-left">
          <img src="/assets/images/scrapbooking/nstc/NSTC-Auditorium.jpg" width="200" height="200">
          <br/>
          <center><i>Students in auditorium</i></center>
        </div>
        <p>
          Para 1
        </p>

      </div>

      <br/>

      <!-- Center Column -->
      <div class="col-md-4" style="padding-left: 5%; padding-right: 5%;">

        <!-- Col 2 -->
        <div class="inline-image-right">
          <img src="/assets/images/scrapbooking/nstc/NSTC-Give-A-Book.jpg" width="200" height="300" />
          <br/>
          <center><i>Poster Promoting Book Drive</i></center>
        </div>
        <p>
          para 2
        </p>

      </div>

      <!-- Right Column -->
      <div class="col-md-4" style="padding-left: 5%; padding-right: 5%;">

        <!-- Col 3 -->
        <div class="inline-image-right">
          <img src="/assets/images/scrapbooking/nstc/NSTC-Give-A-Book.jpg" width="200" height="300" />
          <br/>
          <center><i>Poster Promoting Book Drive</i></center>
        </div>
        <p>
          para 3
        </p>

      </div>

    </div>







</div>
