<!-- Link in Hompage CSS (for cursive font) -->
<link href="/assets/style/index.css" rel="stylesheet" type="text/css">

<!-- Page Body - Splash Page -->
<div class="row">
  <br><br>
  <center>
    <br>
    <h1 class="a resize_width"><a href="/scrapbooking/project-history" class="hide_hyperlink">Project History</a></h1>
    <br>
    <h1 class="c resize_width"><a href="/scrapbooking/nancy-thompson" class="hide_hyperlink">Nancy Thompson</a></h1>
    <br>
    <h1 class="b resize_width"><a href="/scrapbooking/nstc" class="hide_hyperlink">NSTC</a></h1>
    <br>
    <h1 class="d resize_width"><a href="/scrapbooking/the-scrapbook" class="hide_hyperlink">The Scrapbook</a></h1>
    <br>
    <h1 class="a resize_width"><a href="/scrapbooking/servicemens-news" class="hide_hyperlink">Serviceman’s News</a></h1>
  </center>
  <br>
</div>
