<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!-- Two Column Format  -->
<div class="container">
  <div class="row">

    <!-- Row for Title Photo and Header -->
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 400px;" src="/assets/images/scrapbooking/servicemens-news/Service-Mens-News-Issues.jpg" alt="Photo of Magazine Issues of The Service Men’s News"/>
        <p>Three issues of The Service Men’s News.</p>
      </center>

      <br/>

      <!-- Title -->
      <center>
        <h1 id="page-title">The Service Men’s News</h1>
      </center>

      </br>

    </div>

    <!-- Left Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <div class="inline-image-left">
        <img style="margin-top: -10px;" src="/assets/images/scrapbooking/servicemens-news/1945-YB-Lenore-Vaughn-Eames.jpg" width="180" height="240">
        <br/>
        <center style="max-width: 200px;"><i>1945 Yearbook</i></center>
      </div>
      <p>
        The majority of the letters in the Nancy Thompson Scrapbook Letter Collection were sent to Nancy Thompson, others were written to faculty members.  The letters were edited by Professor Lenore Vaughn-Eames and compiled into <i>The Service Men’s News</i>.  Printed between November 1942 and June 1946, there were 17 issues.  After 1946, it continued as <i>The Alumni News</i> and later as <i>Newark Stater</i>.
      </p>


      <!-- Clear previous paragraph -->
      <div style="clear: left;"></div>


      <!-- Paragraph 2 -->
      <div class="inline-image-right">
        <img style="margin-top: -15px;" src="/assets/images/scrapbooking/servicemens-news/1941-YB-Bulletin-Board.jpg" width="220" height="160">
        <br/>
        <center style="max-width: 220px;"><i>Bulletin board, 1941 Yearbook</i></center>
      </div>
      <p>
        <i>The Service Men’s News</i> was posted on the campus bulletin board and mailed to all the servicemen and women serving around the globe.  The front page included an introductory letter from a faculty member, pages with updates about the men and women in service, and a section on activities at the college.
      </p>

      <!-- Clear Next paragraph -->
      <div style="clear: right;"></div>


      <!-- Paragraph 3 -->
      <p>
        Many student soldiers wrote of their gratitude to Miss Thompson or the college for sharing the newsletter and thinking of them.  Imagine it as the snail mail version of today’s Facebook pages, keeping everyone informed of this campus community. The following are 2 examples from writer’s who mentioned The Service Men’s News in their letters.
      </p>


    </div>

    <br/>

    <!-- Right Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 4a -->
      <div class="inline-image-right">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/servicemens-news/Service-Men-Letter-from-Earnest-Shawcross.png" width="200" height="260" />
        <br/>
        <center style="max-width: 200px;"><i>Letter from Earnest Shawcross, September 12, 1943</i></center>
      </div>
      <p>
        <i>
          “I want to thank you for your swell letter and also for the copy of the “Service Men’s News.” It was swell to find out how the other fellows are doing in all the branches of the service. I sincerely hope the school will continue to publish the Service Men’s News because I enjoyed it no end, and I know Bernie and Al did too. Reading about the school and the fellows certainly brought back a lot of memories – it certainly is a grand school with a grand bunch of fellows and girls. I wish it were September 1939 and I were starting it all over again. There are a lot of things you wish for when you are in the service, and nine time out of ten it is something you had, or some part, of your old way of life.”
        </i>
        <br/>
      </p>

      <!-- Paragraph 4b -->
      <div class="inline-image-right">
        <img style="margin-top: -10px;" src="/assets/images/scrapbooking/servicemens-news/1943-YB-Shawcross.png" width="280" height="110" />
        <br/>
        <center style="max-width: 260px; background-color: white;"><i>1943 Yearbook</i></center>
      </div>
      <p style="margin-top: -15px;">
        <b>
          - Ernest Shawcross,
          <br/>
          September 12, 1943
        </b>
      </p>

      <br/><br/>

      <!-- Paragraph 5a -->
      <p>
        <i>
          “... couldn’t the SM news unbend itself and include WOMEN, in its title?  Might be a long war.”
        </i>
        <br/>
      </p>

      <!-- Paragraph 5b -->
      <p style="margin-top: -15px;">
        <b>
          - <a href="/authors/gorski/regina">Regina Gorski</a>, March 6, 1945
        </b>
      </p>
      <center>
        <img style="margin-top: -10px;" src="/assets/images/scrapbooking/servicemens-news/Service-Men-Letter-by-Regina-Gorski.png" width="300" height="110" />
        <br/>
        <center style="max-width: 350px; background-color: white;"><i>Selection from a letter by Regina Gorski, March 6, 1945</i></center>
      </center>

    </div>

  </div>

  <!-- Pad bottom of page -->
  <div style="padding-bottom: 20px;"></div>

</div>
