<!-- Custom Styling -->
<style>

  p {
    background-color: white;
    padding: 10px;
  }

  .inline-image-left {
    padding: 5px;
    float: left;
  }

  .inline-image-right {
    padding: 5px;
    float: right;
  }

  #page-title {
    font-weight: bold;
    font-size: 300%;
    padding-top: 2px;
    padding-bottom: 3px;
  }

</style>



<!-- Two Column Format  -->
<div class="container">
  <div class="row">

    <!-- Row for Title Photo and Header -->
    <div class="col-md-12">

      <!-- Title Photo -->
      <center>
        <br/>
        <img style="max-width: 28%;" src="/assets/images/scrapbooking/the-scrapbook/Scrapbook-Closed.jpg" alt="Photo of Scrapbook (Closed)"/>
        <img style="max-width: 28%;" src="/assets/images/scrapbooking/the-scrapbook/Scrapbook-Intro-Page.jpg" alt="Photo of Scrapbook (Intro Page)"/>
        <img style="max-width: 28%;" src="/assets/images/scrapbooking/the-scrapbook/Scrapbook-Letter-Page.jpg" alt="Photo of Scrapbook (Letters)"/>
        <p>Scrapbook with an 18” ruler, closed and open.</p>
      </center>

      <br/>

      <!-- Title -->
      <center>
        <h1 id="page-title">The Scrapbook</h1>
      </center>

      </br>

    </div>

    <!-- Left Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 1 -->
      <p>
        During WWII, Nancy Thompson wrote letters to students, alumni, and at least one faculty member, who served in the war effort.  Thompson diligently filed almost 700 of the responses that 180 of the men and women sent back.
      </p>


      <!-- Paragraph 2 -->
      <div class="inline-image-left">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/nancy/Nancy-Thompson-Honored-Photo.jpg" width="180" height="240">
        <br/>
        <center style="max-width: 200px;"><i>Nancy Thompson receiving the scrapbook, 1954</i></center>
      </div>
      <p>
        In 1954, Thompson the Alumni Association gifted her a blue scrapbook with gold detail for her efforts to keep the campus community connected during the war (pictured here).  She wrote an Introduction, attached pictures of the world map that showed where students were stationed, and included the names of the men who died.  She pasted or taped some of the letters into the scrapbook, alphabetically by last name, men first, followed by women, but she left many of the letters in thin plastic sleeves, one sleeve per person, simply attached with a paperclip.  There were actually two scrapbooks, the first contained last names of men starting with A-R, the second included one page of last names with the letter K and S-W, followed by the women.
      </p>

      <!-- Paragraph 3 -->
      <p>
        The collection includes mostly letters, handwritten or typed, on a huge variety of stationary, many with unit and other insignias.  Other forms of letters include: postcards, v-mail, telegrams, change of address forms, and clippings. Thompson also saved miscellaneous memorabilia from their travels such as currency, newspapers, Christmas Cards, and photographs. Some letters were censored and others contained very little information to avoid being censored. There are many engagement, marriage, and baby announcements.
      </p>

    </div>

    <br/>

    <!-- Right Column -->
    <div class="col-md-6" style="padding-left: 5%; padding-right: 5%;">

      <!-- Paragraph 4 -->
      <p>
        There are many examples of the letter writer inquiring about other students or commenting on bumping into their classmates while far from home.  They expressed considerable appreciation in response to the The Service Men’s News newsletter, Christmas Cards, yearbooks, photographs, newspapers, and other materials the school sent to them.  Even a record from the College Daze performance was mailed out, with a song from the show on one side and a message from the school on the other.  Some letters were very polite, but many show a touch of humor.
      </p>

      <!-- Paragraph 5 -->
      <div class="inline-image-right">
        <img style="margin-top: 10px;" src="/assets/images/scrapbooking/the-scrapbook/Scrapbook-Boxes.png" width="200" height="200" />
        <br/>
        <center style="max-width: 200px;"><i>Nancy Thompson WWII Scrapbook Letter Collection boxes.</i></center>
      </div>
      <p>
        The scrapbook was largely forgotten until 2010, when it became the Honors History pilot project.  The scrapbook was disassembled and all the contents were removed.  Although archivists hope to keep scrapbooks intact, it would have made this project impossible.  Moreover, the pages of the scrapbook were of poor quality.  Tape adhesives stained the letters and clippings, and some had lost their tact (leaving letters floating and at risk).  Some items were layered, making the lower layers inaccessible.  The scrapbook could be opened and displayed, but could not withstand any real usage.
      </p>

      <!-- Paragraph 6 -->
      <p>
        Scanning letters written on multiple pages was impossible.  It was with the best intentions of sharing this material that the decision was made to safely remove all items from the scrapbooks and file them in archival quality folders and boxes.  Adhesives were removed and pages were surface cleaned.  The original scrapbooks are still part of the collection.
      </p>

    </div>

  </div>


  <!-- Single Row Format -->
  <div class="row">
    <!-- Title Row -->
    <div class="col-xs-12" style="padding-left: 5%; padding-right: 5%;">
      <center>

        <!-- Shift down the image -->
        <div style="margin-top: 10px;"></div>

        <!-- Image - Collage of Letters/Postcards -->
        <img style="width: 85%;" src="/assets/images/scrapbooking/the-scrapbook/Scrapbook-Collage.png" alt="Collage of Scrapbook Letters and Postcards"/>

        <!-- Shift up the caption -->
        <div style="margin-top: -10px;"></div>

        <!-- Caption for image -->
        <p style="max-width: 80%; text-align: left;">
          <a class="modal-trigger">Letter from George Kliman</a>, Miami Beach, no date;
          <a class="modal-trigger">Illustrated telegram from Edward Klingler</a>, no date;
          “<a class="modal-trigger">Meet in New Guinea</a>", newspaper clipping about DiPace brothers, no date;
          <a class="modal-trigger">Telegram from Edward Klingler</a>, Tokyo, September 11, 1946;
          <a class="modal-trigger">Photo of Alfred Cordasco in a plane</a>, Oahu, Territory of Hawaii, 1945;
          <a class="modal-trigger">Address Card for Bessie Blum</a>, March 7, 1945;
          <a class="modal-trigger">Censored V-Mail from Frank Tansey</a>, March 1, 1944;
          <a class="modal-trigger">Baby announcement for the child of Saul Bosek</a>, April 26, 1944;
          “<a class="modal-trigger">Betrothal Told</a>,” newspaper wedding announcement for Emily Manganelli, no date;
          <a class="modal-trigger">Season’s Greetings Card from Edward Klingler</a>, no date;
          <a class="modal-trigger">Postcard of Havana, Cuba</a>, from Emanuel Cohen, postmarked August 22, 1944;
          <a class="modal-trigger">French Military Currency</a>, 1944;
          “<a class="modal-trigger">Jap Blood Aids Newarker</a>," clipping about Harold Lehner, June 15, 1946.
        </p>

      </center>
    </div>
  </div>


  <!-- Image Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 id="myModal-title" class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <center>
            <img id="myModal-image" style="max-width: 95%; max-height: 500px;" src="/assets/images/Loading.gif"/>
          </center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


</div>


<!-- Custom JS for Modals -->
<script>

  $(".modal-trigger").on("click", function(){

    // Collect Entry Name & Set Modal Title and Image
    var imageName = $(this).text();
    var imageLocation = '/assets/images/scrapbooking/the-scrapbook/modal-photos/' + imageName + '.png';
    console.log(imageName)
    $("#myModal-title").html(imageName);
    $("#myModal-image").attr("src", imageLocation);

    // Show Modal
    $('#myModal').modal('show')

  });
</script>
